body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20vh;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

form button {
  margin-top: 10px;
}


