body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.forgot-password-header {
  margin-top: 5vh;
  margin-left: 10vw;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
}

.forgot-password-header a {
  color: #bfb1ce;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;

  &:hover {
    color: #8f78a7;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.subtitle {
  color: #ada4b6;
}

form input[type='email'] {
  width: 100%;
  min-width: 280px;
}

form button {
  margin-top: 10px;
}

.container-number-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.container-number-inputs input {
  width: 8vw;
  aspect-ratio: 1.3;
  text-align: center;
}

#check-email-form,
#update-password-form,
#password-updated-message {
  display: none;
}
