body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.not-logged-header {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  width: 100%;
  min-width: 280px;
}

form button {
  margin: 20px 0 10px 0;
}

.forgot-password {
  cursor: pointer;
  align-self: flex-end;
  color: #bdb2c8;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.signup-link {
  margin: 0 20px;
  overflow: hidden;
  font-size: 1.2rem;
  text-align: center;
  color: var(--brightest-color);
}

.signup-link a {
  text-decoration: none;
  color: #8f78a7;

  &:hover {
    text-decoration: underline;
  }
}

.success-message {
  position: absolute;
  top: 0;
  background-color: #ddffdd;
  width: 100%;
  padding: 20px 20px;
  border-radius: 4px;
  text-align: center;
}

.success-message h1 {
  color: #145214;
  margin-bottom: 5px;
}

.error-message {
  position: absolute;
  top: 0;
  background-color: #ffdddd;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-message h1 {
  color: #D8000C;
  margin-bottom: 5px;
}
